/* Estilo para cada card individual */
.card {
    display: flex;
    flex-direction: column;
    margin: 10px; /* Agregar un pequeño margen entre las cards */
}

.card-title{
    margin: 5px;
    
}

.card-text:last-child {
    margin: 10px;
  }

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}





#horario{
    width:25px !important; 
}


#horariosTabla td, #horariosTabla th  {
    width: 17%; /* Cambia esto al ancho que desees */
    height: 10px; /* Cambia esto a la altura que desees */
    overflow: auto; /* Esto hará que el contenido que no quepa en la celda se pueda desplazar */
    
    
}

#asignaturasGuardadas{
    overflow: auto;
    height: 750px;
}





.titulo-seccion {
    font-size: 15px; /* Cambia esto al tamaño que desees */
    text-align: center;
}

.card-largo {
    width: 155px; /* Cambia esto al largo que desees */
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}